<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VenueVista</title>
    <link rel="icon" type="image/png" href="/images/venuevista.png" />
    <!-- bootstrap style linking -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/CSS/header.css" />
    <link rel="stylesheet" href="/CSS/container.css" />
    <link rel="stylesheet" href="/CSS/reviewMap.css" />
    <link rel="stylesheet" href="/CSS/buttons.css" />
    <link rel="stylesheet" href="/CSS/rating.css" />
    <link rel="stylesheet" href="/CSS/media.css">
    <link rel="stylesheet" href="/CSS/utility.css">
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.js"></script>
    <script>
    const MAPBOX_TOKEN = '<%= mapboxToken %>';
  </script>
  </head>
  
  <body>
    <!-- navbar  -->
    <%-include("../includes/navbar.ejs")%>
    <!-- main body container -->
    <div class="container">
      <%-include("../includes/flash.ejs")%> <%- body %>
    </div>
    <!-- footer -->
    <%-include("../includes/footer.ejs")%>
    <!-- bootstrap script linking -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="/JS/script.js"></script>
  </body>
</html>
